@page "/"
@using Microsoft.Extensions.Logging
@inject ILogger<Home> _logger
@using System.Diagnostics

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<br>
<button @onclick="() => {monthsAway--; CreateMonth();}">Previous Month </button>
<h1> @monthName/@year </h1>
<button @onclick="() => {monthsAway++; CreateMonth();}"> Next Month</button>

<section>
    @for(int i=1; i<= @monthEnd.Day; i++) {
        <div> @i </div>
    }
</section>


@code {
    string monthName = "";
    DateTime monthEnd, monthStart;
    int monthsAway=0, yearsAway=0;
    int year;

    int col = 0;


    void CreateMonth() {
        int month = DateTime.Now.Month + monthsAway;
        yearsAway = ((month-1)/12);
        month = ((month -1) %12) + 1;
        year =  DateTime.Now.Year+ yearsAway;
        
        monthStart = new DateTime(DateTime.Now.Year+ yearsAway, month, 1);
        monthEnd = monthStart.AddMonths(1).AddDays(-1);
        
        _logger.LogDebug($"monthStart {monthStart} monthEnd {monthEnd}");
        monthName = monthStart.Month switch {
            1 => "January",
            2 => "February",
            3 => "March",
            4 => "April",
            5 => "May",
            6 => "June",
            7 => "July",
            8 => "August",
            9 => "September",
            10 => "October",
            11 => "November",
            12 => "December",
            _ => ""
        };

    }
    protected override void OnInitialized(){
        CreateMonth();
        
    



    }
}
